{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<section class="py-5">
    <div class="container">

        <div class="schedule-card mx-auto">

            <h2 class="text-center mb-4 fw-semibold">
                Novo Agendamento
            </h2>

            <form method="post">
                {% csrf_token %}

                {{ form|crispy }}

                {% if slots %}
                    <hr>
                    <h5 class="text-center mb-3">
                        Horários disponíveis
                    </h5>

                    <div class="d-flex flex-wrap gap-2 justify-content-center">
                        {% for slot in slots %}
                            <button 
                                type="submit"
                                name="time"
                                value="{{ slot }}"
                                class="btn btn-outline-custom">
                                {{ slot }}
                            </button>
                        {% endfor %}
                    </div>
                {% else %}
                    <br><br>
                    <button type="submit" class="btn btn-primary-custom w-100">
                        Ver horários disponíveis
                    </button>
                {% endif %}

            </form>

        </div>

    </div>
</section>
{% endblock %}